/* Home Page */
h1 {
	color: blue;
}

.nav-links {
	padding: 10px;
	text-decoration: none;
}

.nav-links:hover {
	color: white;
	text-decoration: none;
}

#sign-in-div {
	width: 35%;
}

table > tbody > tr:hover {
	background-color: #ff867b;
	color: white;
}

.lobster {
	font-family: 'Lobster', cursive;
	color: red;
}

textarea {
	height: 100px;
	width: 400px;
}

#submit-this {
	border-style: solid;
	border-color: black;
}

#submit-this:hover {
	background-color: #e3d1ff;
}

.well {
	padding: 5px;
}

.message:hover{
	background-color: Moccasin;
}

.guest-div {
	display: inline-block; 
	margin: 10px; 
	overflow: hidden;
}

.x-button {
	padding: 0px 4px 0px 4px; 
	float: right;
}

#modal-form-div {
	padding: 15px;
}