.page-title {
	padding-top: $top-page-padding;
}

#userHomeHeader {
	display: inline-flex;
}

#userHomeHeaderText {
	padding-right: 5px;
}

#userHomeHeaderImage {
}

.troll-picture {
	height: 42px;
	width: 42px;
}